@using HeroGame.Models;
@model UserInfo_HeroModel
@{
    Dictionary<HeroModel, InventoryModel> heroes = Model.UsersHeroes;
    UserInfoModel user = Model.UsersInfo;
    int counter = 0;
}


<br /><br />
<div id="heroList">
    @if (heroes.Count > 0)
    {
        <ul class="list-group">
            @foreach (var kvp in heroes)
            {
                var hero = kvp.Key;
                var inventory = kvp.Value;
                string heroId = "heroList" + counter.ToString();
                string inventoryId = "inventoryList" + counter.ToString();

                <li id=@heroId class="heroClass list-group-item">
                    <div id="heroParent">
                        <div id="heroWide">
                            <h1>@hero.HeroName</h1>
                            <p>Level @hero.Lvl @hero.Class</p>
                            <p>Health @hero.Health</p>

                            <button id="viewInventoryButton" class="btn btn-block viewInventoryButton">View Inventory</button>
                        </div>
                        <div id="heroNarrow">
                            <div class="hamburger-menu">
                                <div class="bar1"></div>
                                <div class="bar2"></div>
                                <div class="bar3"></div>
                                <br />
                                <a href="@Url.Action("DeleteHero", "Home", new { id = hero.Id })"><div id="deleteHero">Delete</div></a>
                                <a><div id="updateHero"></div></a>
                            </div>
                        </div>
                    </div>
                </li>
                <li id="@inventoryId" class="inventoryClass list-group-item">
                    <h1>Inventory for @hero.HeroName</h1>
                    <p>Coin Balance: @inventory.Coins</p>
                    <button class="viewHeroButton btn btn-block">View Hero</button>
                </li>
                counter++;
            }
        </ul>
    }
</div>

<button id="newHero" class="btn btn-block btn-group-lg">Create a New Hero</button>

<div id="heroForm">
    <form class="form-horizontal" action="@Url.Action("Game", "Home", new { userId = Model.UsersInfo.Id })" method="post">
        <h1 class="text-center">New Hero</h1>
        <div class="form-group text-center">
            <div>
                Hero Name:<br />
                <input type="text" name="heroName" /><br /><br />
                Class: <br />
                <select name="className">
                    <option value="warrior">Warrior</option>
                    <option value="mage">Mage</option>
                    <option value="ranger">Ranger</option>
                </select>
            </div>
        </div>
        <button type="submit">Create Hero</button>
    </form>
</div>
