@using HeroGame.Models;

@model UserInfoModel

@{
    ViewBag.Title = "About";
}
<br />
<br />

@*registration for a new user *@
<div id="register">
    <form class="form-horizontal " action="@Url.Action("LoginRegister", "Home", new { logCode = 0 })" method="post">
        <h1 class="text-center">Register</h1>

        <div class="form-group text-center">

            <div class="">
                <div class="">
                    @Html.TextBoxFor(m => m.FirstName, new { placeholder = "First Name" })
                    <div>
                        @Html.ValidationMessageFor(m => m.FirstName)
                    </div>
                </div>
            </div>
            <br />
            <div class="">
                <div class="">
                    @Html.TextBoxFor(m => m.LastName, new { placeholder = "Last Name" })
                </div>
                <div>
                    @Html.ValidationMessageFor(m => m.LastName)
                </div>
            </div>
            <br />
            <div class="">
                <div class="">
                    @Html.TextBoxFor(m => m.Email, new { placeholder = "Email" })
                </div>
                <div>
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
                @if (ViewBag.ErrorMessage != null)
                {
                    <div>
                        @ViewBag.ErrorMessage;
                    </div>
                }
            </div>
            <br />
            <div class="">
                <div class="">
                    @Html.PasswordFor(m => m.Password, new { placeholder = "Password" })
                </div>
                <div>
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
            </div>
        </div>
        <div class="text-center">
            <button class="btn btn-lg btn-success">Sign Up!</button>
        </div>
    </form>
    <br />
    <br />
    <button class="btn showLogin text-center">Already a user? Login Here!</button>
</div>



@*Login for existing User*@

<div id="login">
    <form class="form-horizontal" action="@Url.Action("LoginRegister", "Home", new { logCode = 1 })" method="post">
        <h1 class="text-center">Login</h1>
        <div class="form-group text-center">
            <div class="">
                @if (ViewBag.LoginError != null)
                {
                    <div class="alert alert-danger">
                        @ViewBag.LoginError
                    </div>
                    <br />
                }
                <div class="">
                    @Html.TextBoxFor(m => m.Email, new { placeholder = "Email" })
                </div>
            </div>
            <br />
            <div class="">
                <div class="">
                    @Html.PasswordFor(m => m.Password, new { placeholder = "Password" })
                </div>

            </div>
        </div>
        <div class="text-center">
            <button class="btn btn-lg btn-success">Login!</button>
        </div>
    </form>
    <br />
    <br />
    <button class="btn text-center showRegister">New to my kickass game? Register Here!</button>
</div>

<a href="@Url.Action("AllUsers", "Home")">View All Users</a>
